.logo {
  font-size: 50px;
  line-height: 0.9em;
  letter-spacing: -0.05em;
  margin: 1em 10em;
  float: left;
  clear: left;
}

.logo div {
  height: 47px;
  display: block;
  position: relative;
}

.logo span {
  white-space: pre;
  font-family: Source Code Pro Light;
  font-weight: 100;
  color: #d9d9d9;
  position: absolute;
  letter-spacing: -0.1em;
}

.code-only {
  position: initial;
}

.pre:before {
  content: none !important;
}
.pre {
  right: 3.65em;
}
.coffee span:before {
  content: "     ";
}
.powered span:before {
  content: "       ";
}
.code span:before {
  content: "    ";
}

.coffee {
  font-family: Aller light;
}
.powered {
  font-family: Aller;
}
.code {
  font-family: Aller;
  font-weight: 900;
}
